<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/homestyle.css">
    <script src="/homescript.js"></script>
</head>
<body>

<div class="header">
    <h2 style="color: #ffffff; font-family: 'Arial Black', sans-serif; font-size: 28px; margin: 0;">Mini Dooray</h2>
    <h2 th:text="${session.username} + ', 테스트중' " style="color: #ffffff; margin-top: 0; margin-left: auto; cursor: pointer;" onclick="toggleMenu()"></h2>
</div>


<div class="content">
    <div class="project-sidebar">
        <button class="hightlight-button" style="width: 100%; font-size: 16px; color: #000000;"
                onclick="location.href = '/task/register';">+ 새 업무</button>
        <br><br>
        <button class="hightlight-button"  style="width: 100%; font-size: 16px; color: #000000;"
                onclick="location.href = '/project/register';">프로젝트 만들기</button>


        <div class="toggle-button" onclick="toggleProjectList()" style="width: 100%;">
            <h2>프로젝트 즐겨찾기</h2>
        </div>

        <ul id="projectList" class="project-list hidden">
            <li th:each="project : ${Projects}" style="margin-bottom: 10px;">
                <a th:href="@{/projects/{projectId}(projectId=${project.projectId})}"
                   style="display: inline-block; padding: 10px; background-color: #f2f2f2; border-radius: 5px; text-decoration: none; color: #333;">
                    <span th:text="${project.projectName}"></span>
                </a>
            </li>
        </ul>

    </div>

    <div class="task-list" style="max-height: 600px; overflow-y: auto; border: 2px solid #000;">
        <table>
            <thead>
            <tr>
                <th>Task Title</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${Tasks}" style="cursor: pointer; width: 200px; height: 100px;">
                <td th:onclick="'window.location.href = \'/tasks/\' + \'' + ${task.taskId} + '\''" style="cursor: pointer;">
                    <span th:text="${task.taskTitle}" style="font-size: 24px; font-weight: bold; color: #000;"></span>
                    <br>
                    <p th:text="${task.taskManagerId}" style="font-size: 16px; color: #666;"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>





    <div class="additional-area" style="flex-basis: 60%; overflow-y: auto;max-height: 600px;
     height: 600px; border: 2px solid #000;">

        <div th:if="${Select} == 'project'">
            <div style="border: 1px solid #ccc; padding: 10px;">
                <h1>프로젝트 입니다</h1>
            </div>
            <div style="border: 1px solid #ccc; padding: 10px; margin-top: 20px;">
                <table>
                    <thead>
                    <tr>
                        <th>맴버별 업무현황</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="account : ${Accounts}">
                        <td>
                            <a th:href="@{/account/{accountId}(taskId=${account.accountId})}">
                                <span th:text="${account.accountname}"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div th:if="${Select} == 'task'">

        </div>

        <div th:unless="${Select}">
            <h1>Hello Mini Dooray</h1>
        </div>

    </div>
</div>

<div id="menu" class="menu">
    <!-- 메뉴 아이템들 -->
    <a href="/logout">로그아웃</a>
</div>
</body>
</html>






