<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/taskcreatestyle.css">

</head>
<body>
<h1>Task 생성</h1>
<form method="post" action="/project/task/register">
    <label for="projectName">프로젝트 이름:</label>
    <select id="projectName" name="projectName" required>
        <option th:value="${Project.projectId}" th:text="${Project.projectName}"></option>
    </select><br><br>

    <label for="assignee">담당자:</label>
    <select id="assignee" name="assignee" required>
        <option  th:value="allAccounts" >java-백앤드-3-교육/all</option>
        <option th:each="account : ${allAccounts}" th:value="${account.getAccountId()}" th:text="${account.accountName}"></option>
    </select><br><br>

    <label for="title">제목:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="dueDate">만기일:</label>
    <input type="date" id="dueDate" name="dueDate" required><br><br>

    <label for="tag">태그:</label>
    <select id="tag" name="tag">
        <option value="">없음</option>
        <option th:each="tag : ${Tags}" th:value="${tag.tagId}" th:text="${tag.tagContent}"></option>
    </select><br><br>


    <label for="milestone">마일스톤:</label>
    <select id="milestone" name="milestone">
        <option value="">없음</option>
        <option th:each="milestone : ${Milestones}" th:value="${milestone.milestoneId}" th:text="${milestone.milestoneContent}"></option>
    </select><br><br>

    <label for="content">작성글:</label><br>
    <textarea id="content" name="content" rows="6" cols="100" ></textarea><br><br>



    <input type="submit" value="작성 완료">
</form>
</body>
</html>