<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>게시물 조회</title>
</head>

<body>
<div>
<span>제목 : <textarea th:text="${post.title}"></textarea></span>
    <br>
<span>등록자 : <textarea th:text="${//등록자이름}"></textarea></span>
<br>
<span>컨텐츠 : <textarea th:text="${post.content}"></textarea></span>
</div>
<div >
    <table>
        <thead> <tr> <td>댓글</td></tr></thead>
        <tr th:each="comment : ${Comments}">
            <span th:text="${//댓글 등록자 이름}"></span>
            <br>
                <span th:text="${comment.cotent}"></span>
        </tr>
    </table>

</div>

</body>
</html>