<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>

<h1>로그인</h1>
<div th:if="${param.success}">
    <div class="success">
        가입이 완료되었습니다. 로그인해주세요.
    </div>
</div>
<hr>
<form method="post" action="/login">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" name="id" size="30"/></td>
        </tr>
        <tr>
            <td>PASSWORD</td>
            <td><input type="password" name="password" size="30"/></td>
        </tr>
        <tr>
            <th colspan="2"><input type="submit" value="로그인"></th>
        </tr>
    </table>
</form>
<button th:onclick="|location.href='@{https://github.com/login/oauth/authorize?client_id=0340d5bbc4fcbe157d06&scope=user:email}'|">
    Login with Github
<button onclick="location.href='/loginform'">
    회원가입
</button>
<br/><br/>

<div class="error" th:if="${param.error != null}" th:switch="${#strings.toString(param.error)}">
    <span th:case="email">* 연동된 이메일이 존재하지 않습니다. 다시 로그인 해주십시오. *</span>
    <span th:case="*">* 잘못된 아이디/비밀번호 입니다. *</span>
</div>



</body>
</html>