<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/homestyle.css">
    <script src="/homescript.js"></script>
</head>
<body>

<div class="header">
    <h2 style="color: #ffffff; font-family: 'Arial Black', sans-serif; font-size: 28px; margin: 0;">Mini Dooray</h2>
    <h2 th:text="${session.username} + ', 테스트중' " style="color: #ffffff; margin-top: 0; margin-left: auto; cursor: pointer;" onclick="toggleMenu()"></h2>
</div>


<div class="content">
    <div class="project-sidebar">
        <button class="hightlight-button" style="width: 100%; font-size: 16px; color: #000000;"
                onclick="location.href = '/task/register';">+ 새 업무</button>
        <br><br>
        <button class="hightlight-button"  style="width: 100%; font-size: 16px; color: #000000;"
                onclick="location.href = '/project/register';">프로젝트 만들기</button>

        <div class="toggle-button" onclick="toggleProjectList()" style="width: 100%;">
            <h2>프로젝트 즐겨찾기</h2>
        </div>

        <ul id="projectList" class="project-list hidden">
            <li>테스트입니다 지워주세요</li>
            <li th:each="project : ${Projects}">
                <a th:href="@{/projects/{projectId}(projectId=${project.id})}" th:text="${project.name}"></a>
            </li>
        </ul>

    </div>

    <div class="task-list" style="max-height: 600px; overflow-y: auto;">
        <table>
            <thead>
            <tr>
                <th>Task Title</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="height: 100px;">test1 지워주세요</td>
            </tr>
            <tr>
                <td style="height: 100px;">test2 지워주세요</td>
            </tr>
            <tr>
                <td style="height: 100px;">test3 지워주세요</td>
            </tr>
            <tr>
                <td style="height: 100px;">test4 지워주세요</td>
            </tr>
            <tr>
                <td style="height: 100px;">test5 지워주세요</td>
            </tr>
            <tr>
                <td style="height: 100px;">test5 지워주세요</td>
            </tr>

            <tr th:each="task : ${Tasks}">
                <td>
                    <a th:href="@{/tasks/{taskId}(taskId=${task.id})}">
                        <span th:text="${task.name}"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="additional-area" style="flex-basis: 60%; overflow-y: auto; max-height: 600px;">
        <!-- 추가 작업 영역 -->
    </div>
</div>

<div id="menu" class="menu">
    <!-- 메뉴 아이템들 -->
    <a href="/logout">로그아웃</a>
</div>
</body>
</html>






